<div class="container px-4" style="">
  <h1 class="mt-4 text-center">Your Cart</h1>
  <p class="mt-4 text-center small italic">
    Your cart data is stored in YOUR Data Pal in a document called
    <a href="{{shoppingListDocument.uri}}" class="link">{{shoppingListDocument.name}}</a>
  </p>
  <div>
    {{#each cart}}
      <div class="card my-2" style="display: flex; flex-direction: row; align-items: center;">
        {{#with product}}
          <div
            style="background-image: url({{image}}); height: 100px; width: 100px; flex: 0 0 100px; background-size: cover; background-position: center; border-top-left-radius: 6px; border-bottom-left-radius: 6px"
          ></div>
          <div class="p-2" style="flex: 1 1">
            <h5 class="">{{name}}</h5>
            <div><a href="/products/{{id}}">Read More</a></div>
          </div>
        {{/with}}
        <div class="m-2">
          <form action="/cart/update-quantity" method="post">
            <div style="display: flex; gap: 10px;">
              <input type="number" name="quantity" value="{{quantity}}" class="form-control" style="width: 80px"/>
              <input type="hidden" name="productId" value="{{product.id}}"/>
              <button class="btn btn-secondary" type="submit" name="action" value="update">update</button>
              <button class="btn btn-light" type="submit" name="action" value="delete">X</button>
            </div>
          </form>
        </div>
      </div>
    {{/each}}
  </div>

  <div>
    <h2 class="mt-4 text-center">Your Shipping Address</h2>
    <p class="mt-4 text-center">
      Your shipping address is data stored in YOUR Data Pal.
      {{#if shippingAddressDocument}}
        <a href="{{shoppingListDocument.uri}}" class="link">View or edit it here</a>
      {{/if}}
    </p>

    {{#if shippingAddressDocument}}
      <div class="text-center">

        <div style="text-align: left; margin: 20px auto; max-width: fit-content;">
          {{#with shippingAddressDocument.value }}
            <div style="display: flex; gap: 10px;">
              <div class="form-group">
                <label for="addressRecipientName">Name</label>
                <input id="addressRecipientName" type="text" class="form-control" value="{{recipientName}}" readOnly>
              </div>
              <div class="form-group">
                <label for="addressRecipientPhone">Phone</label>
                <input id="addressRecipientPhone" type="phone" class="form-control" value="{{recipientPhoneNumber}}" readOnly>
              </div>
            </div>
            <div class="form-group">
              <label for="addressLine1">Address line 1</label>
              <input id="addressLine1" type="text" class="form-control" value="{{streetAddressLine1}}" readOnly>
            </div>
            <div class="form-group">
              <label for="addressLine2">Address line 2</label>
              <input id="addressLine2" type="text" class="form-control" value="{{streetAddressLine2}}" readOnly>
            </div>
            <div style="display: flex; gap: 10px;">
              <div class="form-group">
                <label for="addressLocality">Locality</label>
                <input id="addressLocality" type="text" class="form-control" value="{{addressLocality}}" readOnly>
              </div>
              <div class="form-group">
                <label for="addressRegion">Region</label>
                <input id="addressRegion" type="text" class="form-control" value="{{addressRegion}}" readOnly>
              </div>
            </div>
            <div style="display: flex; gap: 10px;">
              <div class="form-group">
                <label for="addressCountry">Country</label>
                <input id="addressCountry" type="text" class="form-control" value="{{addressCountry}}" readOnly>
              </div>
              <div class="form-group">
                <label for="postalCode">Postal Code</label>
                <input id="postalCode" type="text" class="form-control" value="{{postalCode}}" readOnly>
              </div>
            </div>
          {{/with}}
        </div>

        <p><a href="{{shippingAddressDocument.uri}}" class="link">
          View or Edit the document on DataPal
        </a></p>

<!--        <pre><code>{{toJSON shippingAddressDocument.value}}</code></pre>-->
      </div>
    {{else}}
      <div class="text-center">
        {{#> datapalButton href="/select-shipping-address?returnTo=/cart" }}
          Provide a shipping address
        {{/ datapalButton }}
      </div>

    {{/if}}
  </div>



  <div>
    <h2 class="mt-4 text-center">Proof you can drink</h2>
    <div style="max-width: 400px; margin: 0 auto;">
      {{#if proofYouCanBuyAlcoholDocument}}
        <div style="display: flex; flex-direction: column; gap: 20px; align-items: center;">
          <img src="/boosable-icon.svg" style="width: 50%; margin: -4px 5px -4px  -4px; "/>
          <a href={{proofYouCanBuyAlcoholDocument.uri}}>View proof</a>
        </div>
      {{else}}
        <div class="text-center">
          <p class="mt-4 text-center">
            Proof of your eligibility to purchase alcohol is provided securely and pseudononymously by
            <a href="">Boosable</a>
          </p>

          {{#> boosableButton href="/provide-proof-you-can-buy-alcohol?returnTo=/cart" }}
            Provide proof you can buy alcohol
          {{/ boosableButton }}
        </div>
      {{/if}}
    </div>
  </div>

  {{#if shippingAddressDocument}}
    {{#if proofYouCanBuyAlcoholDocument}}
      <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
      <script>
        function makeConfetti(event){
          const x = event.clientX / window.innerWidth
          const y = event.clientY / window.innerHeight
          confetti({
            particleCount: 100,
            spread: 70,
            origin: { x, y }
          });
        }
      </script>
      <div class="text-center mt-4">
        <h1>Ready to ship!</h1>
        <button class="btn btn-primary" onClick="makeConfetti(event)">Place Order!</button>
      </div>
    {{/if}}
  {{/if}}

</div>
