<div class="container px-4" style="">
  <h1 class="mt-4 text-center">Your Cart</h1>
  <p class="mt-4 text-center">
    Your cart is data stored in YOUR Data Pal.
    <a href="{{shoppingListDocument.uri}}" class="link">View or edit it here</a>
  </p>
  <div>
    {{#each cart}}
      <div class="card my-2" style="display: flex; flex-direction: row; align-items: center;">
        {{#with product}}
          <div
            style="background-image: url({{image}}); height: 100px; width: 100px; flex: 0 0 100px; background-size: cover; background-position: center; border-top-left-radius: 6px; border-bottom-left-radius: 6px"
          ></div>
          <div class="p-2" style="flex: 1 1">
            <h5 class="">{{name}}</h5>
            <div><a href="/products/{{id}}">Read More</a></div>
          </div>
        {{/with}}
        <div class="m-2">
          <form action="/cart/update-quantity" method="post">
            <input type="number" name="quantity" value="{{quantity}}"/>
            <input type="hidden" name="productId" value="{{product.id}}"/>
            <button type="submit" name="action" value="update">update</button>
            <button type="submit" name="action" value="delete">X</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>

  <div>
    <h2 class="mt-4 text-center">Your Shipping Address</h2>
    <p class="mt-4 text-center">
      Your shipping address is data stored in YOUR Data Pal.
      {{#if shippingAddressDocument}}
        <a href="{{shoppingListDocument.uri}}" class="link">View or edit it here</a>
      {{/if}}
    </p>
    {{#if shippingAddressDocument}}
      <div class="text-center">

        <div style="text-align: left; display: inline-block; margin-bottom: 20px">
          {{#with shippingAddressDocument.value }}
          <div>{{recipientName}}</div>
          <div>{{streetAddressLine1}}</div>
          <div>{{streetAddressLine2}}</div>
          <div>
            <span>{{addressLocality}}</span>
            <span>{{addressRegion}}</span>
          </div>
          <div>
            <span>{{addressCountry}}</span>
            <span>{{postalCode}}</span>
          </div>
          {{/with}}
        </div>

        <p><a href="{{shippingAddressDocument.uri}}" class="link">
          View or Edit the document on DataPal
        </a></p>

<!--        <pre><code>{{toJSON shippingAddressDocument.value}}</code></pre>-->
      </div>
    {{else}}
      <div class="text-center">
        {{#> datapalButton href="/select-shipping-address?returnTo=/cart" }}
          Provide a shipping address
        {{/ datapalButton }}
      </div>

    {{/if}}
  </div>



  <div>
    <h2 class="mt-4 text-center">Proof you can drink</h2>
    <div style="max-width: 400px; margin: 0 auto;">
      <p class="mt-4 text-center">
        Proof of your eligibility to purchase alcohol is provided securely and pseudononymously by
        the these 2rd parties.
      </p>

      {{#if proofYouCanDrinkDocument}}
        <p class="mt-4 text-center">
          The resulting proof is stored in YOUR Data Pal document store.
        </p>
        <p>
          <a href="{{proofYouCanDrinkDocument.uri}}" class="link">View or edit it here</a>
        </p>
      {{else}}
        <div class="text-center">
          {{#> boosableButton href="/provide-proof-you-can-buy-alcohol?returnTo=/cart" }}
            Provide proof you can buy alcohol
          {{/ boosableButton }}
        </div>
      {{/if}}
    </div>
  </div>
</div>
